
<div class="display-cards">
  <h2 id="offers-header">Vinyls</h2>
  <div class="cards">
    <% @vinyls.each do |vinyl| %>
      <%= link_to vinyl_path(vinyl) do %>
      <div class="card-vinyl" >
        <%= image_tag vinyl.img_url %>

        <div class="card-vinyl-infos">
          <div>
            <h2> <%= vinyl.name %> </h2>
            <p> <%= vinyl.artist %> </p>
          </div>
          <h2 class="card-vinyl-pricing"> <%= vinyl.publishing_year %> </h2>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
