<h2 id="page-header"><%= @vinyl.name %> – <%= @vinyl.artist.name %></h2>

<div class="display-offers">
  <div class="offer-card">
    <% @offers.each do |offer| %>
      <%= image_tag offer.vinyl.img_url %>
      <div class="card-product-infos">
        <h2> <%= offer.location %> </h2>
        <p> <%= offer.description %> </p>
      </div>
    <% end %>
  </div>
</div>


<!-- Map -->
<div class="col-12 col-md-8">
  <%= render 'shared/map', markers: @markers.to_json %>
</div>


<!-- Artist Profile
<%= @vinyl.artist.profile %>
<%= image_tag @vinyl.artist.profile_img, alt: "artist profile image" %>
-->
