<div class="display-cards">
  <h2 id="bookings-header">My bookings</h2>
  <ul class="nav tabs-underlined" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <span class="nav-link tab-underlined active" id="bookings-tab" data-bs-toggle="tab" data-bs-target="#bookings-tab-pane" role="tab" aria-controls="bookings-tab-pane" aria-selected="true">> Pending Offers<%= "(#{@bookings.count})" %></span>
    </li>
    <li class="nav-item" role="presentation">
      <span class="nav-link tab-underlined" id="requests-tab" data-bs-toggle="tab" data-bs-target="#requests-tab-pane" role="tab" aria-controls="requests-tab-pane" aria-selected="false">> Incoming Bookings</span>
    </li>
    <li class="nav-item" role="presentation">
      <span class="nav-link tab-underlined" id="conversations-tab" data-bs-toggle="tab" data-bs-target="#conversations-tab-pane" role="tab" aria-controls="conversations-tab-pane" aria-selected="false">> Completed</span>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade py-3 show active" id="bookings-tab-pane" role="tabpanel" aria-labelledby="bookings-tab" tabindex="0">
      <div class="cards">
        <% @bookings.each do |booking| %>
          <div class="card-vinyl" >
            <p class='booking-tag <%= booking.status %>-color '><%= booking.status %></p>
            <%= image_tag booking.offer.vinyl.img_url %>
            <%= link_to booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Delete offer for #{booking.offer.vinyl.name}?"} , class: 'card-remove-link' do %>
              <i class="fa-solid fa-ban fa-lg"></i>
            <% end %>
            <div class="card-vinyl-infos">
              <div class="d-flex flex-column">
                <h2> <%= booking.offer.vinyl.name %> </h2>
                <h2><%= "#{booking.start_date.to_time.strftime('%B %e')} - "%>
                  <%= booking.end_date.to_time.strftime('%B %e') %> </h2>
                <h2> <%= "¥#{booking.offer.price}" %> </h2>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade py-3" id="requests-tab-pane" role="tabpanel" aria-labelledby="requests-tab" tabindex="0">
      <div class="cards">
        <% @bookings_as_owner.each do |booking| %>
          <div class="card-vinyl" >
            <%= image_tag booking.offer.vinyl.img_url %>
            <p class='booking-tag <%= booking.status %>-color '><%= booking.status %></p>
            <div class="card-vinyl-infos">
              <div>
                <% if booking.pending? %>
                  <div class="d-flex">
                    <%= simple_form_for booking do |f| %>
                      <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
                      <%= f.submit 'Accept', class: 'btn btn-info' %>
                    <% end %>
                    <%= simple_form_for booking do |f| %>
                      <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
                      <%= f.submit 'Reject', class: 'btn btn-light' %>
                    <% end %>
                  </div>
                <% else %>
                <% end %>
                <div class="d-flex flex-column">
                  <h2> <%= booking.offer.vinyl.name %> </h2>
                  <%= "#{booking.start_date.to_time.strftime('%B %e')} - #{booking.end_date.to_time.strftime('%B %e')} "%>
                  <h2> <%= "¥#{booking.offer.price}" %> </h2>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade py-3" id="conversations-tab-pane" role="tabpanel" aria-labelledby="conversations-tab" tabindex="0">
      This is the content for the Conversations tab. Notice in the tab HTML there is a href="#converstations". This is pointing to the id of this div.
    </div>
  </div>

  <div class="tab-pane fade py-3" id="conversations-tab-pane" role="tabpanel" aria-labelledby="conversations-tab" tabindex="0">
  </div>
</div>