<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "banner.jpg" %>);">
  <div class="container">
    <h1>Tokyo Vinyls</h1>
    <p>Share your favorite records with the world</p>
    <div class="btn btn-flat">
      <%= link_to 'Browse', vinyls_path %>
    </div>
    <div class="col-sm-4">
      <%= form_tag vinyls_path, method: :get, class: "d-flex my-3" do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search"%>
        <%= submit_tag "Search", class: "btn-flat", style: "border: none" %>
      <% end %>
    </div>
  </div>
</div>
<div class="display-cards">
  <h2 id="landing-header">Top Offers</h2>
  <div class="card-row">
    <% @offers.each do |offer| %>
      <%=link_to vinyl_path(offer.vinyl) do %>
        <div class="card-vinyl mx-2" >
          <%= image_tag offer.vinyl.img_url %>
          <div class="card-vinyl-infos">
            <div>
              <h2 class="truncate"> <%= offer.vinyl.name %> </h2>
              <p class="truncate"> <%= offer.vinyl.artist.name %> </p>
              <p class="card-vinyl-pricing"><%= offer.price %> ¥ / Day</p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
