<div class="display-cards">
  <h2 id="offers-header">Offers</h2>
  <div class="btn btn-flat">
    <%= link_to 'Create', new_offer_path  %>
  </div>
  <div class="cards">
    <% @offers.each do |offer| %>
      <%= link_to offer_path(offer) do %>
        <div class="card-offer" >
          <%= image_tag offer.vinyl.img_url %>
          <div class="card-offer-infos">
            <div>
              <h2> <%= offer.vinyl.name %> </h2>
              <p><%= offer.condition %></p>
              <p> <%= offer.price %>円</p>
              <p><%= offer.location %></p>
            </div>
            <h2 class="card-offer-pricing"> </h2>
          </div>
        </div>
      <% end %>
    <% end %>
