<div class="display-cards">
  <h2 id="offers-header">Offers</h2>
  <div class="btn btn-flat">
    <%= link_to 'Create', new_offer_path  %>
  </div>
  <div class="cards">
    <% @offers.each do |offer| %>
      <%= link_to offer_path(offer) do %>
        <div class="card-vinyl" >
          <%= image_tag offer.vinyl.img_url %>
          <div class="card-offer-infos">
            <div>
              <h2> <%= offer.vinyl.name %> </h2>
              <p><%= offer.condition %></p>
              <p> <%= offer.price %>円</p>
              <p><%= offer.location %></p>
            </div>
            <h2 class="card-vinyl-pricing"> </h2>
          </div>
        </div>
      <% end %>
    <% end %>



    <div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>
